---
import logo from "../lib/ascii-logo";
---

<pre class="ascii-logo" role="img" aria-label="al3rez"
  ><span class="ascii-logo__base">{logo}</span><span
    class="ascii-logo__comet"
    aria-hidden="true"
    >{logo}</span
  ></pre
>
